#fcontainer{
    border:2px solid black;
    height:500px;
    display:flex;
    justify-content: center;
    align-items:center;
    
    
}
.fitem{

background-color:purple;
border: 2px dotted black;
margin: 12px;
height: 120px;
width: 120px;

}
.item1{
    order: 2;
    background-color:orange;
    align-items: center;
    background-image: url(2.jpg);
    


}
.item2{
    order: 3;
    background-color:blue;
   
    
}
.item3{
    order: 4;
    background-color:red;
  
    
}
.item4{
    order: 1;
    background-color:brown;
  
    
}

